<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light px-5 py-3">

<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Dodaj produkt</button>

    <a th:href="@{'/clothes/history'}"><button type="button" class="btn btn-primary">Historia operacji</button></a>
</div>

<div class="col-sm-3 px-0 my-3">
    <form th:action="@{/clothes/filter}" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">Button</button>
            </div>
            <select name="clothesSize" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Wybierz rozmiar</option>
                <option th:each="size : ${size}"
                        th:value="${size}"
                        th:utext="${size}">
                </option>
            </select>
        </div>
    </form>
</div>

<div class="text-center mb-3 text-uppercase">
    <h3>Magazyn</h3>
</div>

<div>
    <table class="table table-hover">
        <tr>
            <th scope="col">Typ</th>
            <th scope="col">Firma</th>
            <th scope="col">Rozmiar</th>
            <th scope="col">Сolor</th>
            <th scope="col">Ilość</th>
        </tr>
        <tr scope="col" th:each ="clothes : ${clothes}">
            <td th:utext="${clothes.clothesName}">...</td>
            <td th:utext="${clothes.clothesBrand}">...</td>
            <td th:utext="${clothes.clothesSize}">...</td>
            <td th:utext="${clothes.clothesColor}">...</td>
            <td th:utext="${clothes.clothesQuantity}">...</td>
        </tr>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj produkt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <form th:action="@{/clothes/add}" method="post">
                        <div class="my-2"><input required  type="text" name="clothesName" class="form-control" placeholder="Typ" aria-describedby="button-addon2"/></div>
                        <div class="my-2"><input required type="text" name="clothesBrand" class="form-control" placeholder="Marka" aria-describedby="button-addon2"></div>
                        <select name="clothesSize" class="custom-select my-1" required>
                            <option selected>Wybierz rozmiar</option>
                            <option th:each="size : ${size}"
                                    th:value="${size}"
                                    th:utext="${size}">
                            </option>
                        </select>
                        <div class="my-2"><input required type="text" name="clothesColor" class="form-control" placeholder="Color" aria-describedby="button-addon2"></div>
                        <div class="my-2"><input required type="text" name="clothesQuantity" class="form-control" placeholder="Ilość" aria-describedby="button-addon2"></div>
                        <button  class="btn btn-primary" type="submit">Ok</button>
                    </form>
                </div>
        </div>
    </div>
</div>

</body>
</html>