<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light px-5 py-3">



<div class="text-center mb-3 text-uppercase">
    <h3>Operacje</h3>
</div>

<div>
    <table class="table table-hover">
        <tr>
            <th scope="col">Firma</th>
            <th scope="col">Typ</th>
            <th scope="col">Ilość</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
        </tr>
            <tr scope="col" th:each ="arrival : ${history}">
            <td th:utext="${arrival.companyName}">...</td>
            <td th:utext="${arrival.clothesName}">...</td>
            <td th:utext="${arrival.clothesQuantity}">...</td>
            <td th:utext="${arrival.arrivalDate}">...</td>
            <td>
                <img th:src="@{'/img/' + ${arrival.arrivalStatus} + '.png'}">
            </td>
            </tr>
    </table>
</div>


</body>
</html>