<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/css.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light px-5 py-3">


<nav class="navbar navbar-light bg-light border-bottom">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{'/img/logoprint.png'}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Print Company
    </a>
</nav>


<div class="d-flex justify-content-center container my-3">

    <div class="row">

        <div class="media float-left shadow-sm p-3 mb-2 bg-white rounded col mr-2 demo6" onclick="location.href='/clothes/showAll';return false;">
            <img th:src="@{'/img/stok.png'}" width="70" height="70" alt="">
            <div class="media-body">
                <h5 class="text-center my-3 text-uppercase">Magazyn</h5>
            </div>
        </div>

        <div class="media float-right shadow-sm p-3 mb-2 bg-white rounded col demo6" onclick="location.href='/history/showAll';return false;">
            <img th:src="@{'/img/history.png'}" width="70" height="70" alt="">
            <div class="media-body">
                <h5 class="text-center my-3 text-uppercase">Historia</h5>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="media shadow-sm p-3 mb-2 bg-white rounded col mr-2 demo6">
            <img th:src="@{'/img/history.png'}" width="70" height="70" alt="">
            <div class="media-body">
                <h5 class="text-center my-3 text-uppercase">Historia</h5>
            </div>
        </div>

        <div class="media shadow-sm p-3 mb-2 bg-white rounded col demo6">
            <img th:src="@{'/img/history.png'}" width="70" height="70" alt="">
            <div class="media-body">
                <h5 class="text-center my-3 text-uppercase">Historia</h5>
            </div>
        </div>

    </div>


</div>

</body>
</html>