<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/css.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light px-5 py-3">

<nav class="navbar navbar-light bg-light border-bottom">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{'/img/logoprint.png'}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Print Company
    </a>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#orderModal" data-whatever="@mdo">Utwórz zamówienie</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal" data-whatever="@mdo">Filtr</button>
    </div>

</nav>

<div class="text-center my-3 text-uppercase">
    <h3>Lista zamówień</h3>
</div>

<div class="row align-items-center justify-content-center">


        <div class="card mb-2 zoom" style="width: 40rem;" th:each ="orders : ${orders}">
            <a th:href="@{'/orders/showClothesOrder/' + ${orders.orderID}}">
                <div class="card-body">
                    <div class="float-left">
                        <h4 class="card-title" th:utext="${orders.orderCompanyName}"></h4>
                        <h6 class="card-title" th:utext="${orders.orderNumber}"></h6>
                    </div>
                    <div class="float-right">
                        <div class="float-right">
                            <h6 class="card-title" th:utext="${orders.orderDate}"></h6>
                        </div>
                        <!--<div>-->
                        <!--<a th:href="@{'/orders/addproduct/' + ${orders.orderID}}"><img th:src="@{'/img/add.png'}" width="35" height="35" alt="" class="rowDiv"></a>-->
                        <!--<img th:src="@{'/img/info.png'}" width="35" height="35" alt="" class="rowDiv">-->
                        <!--<img th:src="@{'/img/delete.png'}" width="35" height="35" alt="" class="rowDiv">-->
                        <!--</div>-->
                    </div>
                </div>
            </a>
        </div>


    <!--model addOrder-->
    <!--***************************************************-->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Filtruj według rozmiaru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/orders/add}" method="post">
                        <div class="my-2"><input required  type="text" name="orderNameFirm" class="form-control" placeholder="Nazwa firmy" aria-describedby="button-addon2"/></div>
                        <div class="my-2"><input required type="text" name="orderAddress" class="form-control" placeholder="Adres firmy" aria-describedby="button-addon2"></div>
                        <div class="my-2"><textarea type="text" name="orderComments" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Uwagi" aria-describedby="button-addon2"></textarea></div>
                        <button  class="btn btn-primary" type="submit">Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--***************************************************-->


</div>


</body>
</html>