<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/css.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light px-5 py-3">

<nav class="navbar navbar-light bg-light border-bottom">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{'/img/logoprint.png'}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Print Company
    </a>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" onclick="location.href='/orders/showAll';return false;">Lista zamówień</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal" data-whatever="@mdo">Filtr</button>
    </div>
</nav>

<div class="text-center my-3 text-uppercase">
    <h3>Formacja zamówienia</h3>
</div>

<div class="text-center my-3 text-uppercase">
    <h5 th:text="'№ ' + ${order.orderNumber} + ' / ' + ${order.orderDate}"></h5>
</div>

<div>
    <table class="table table-sm">
        <tr>
            <th scope="col">Kategorie</th>
            <th scope="col">Marka</th>
            <th scope="col">Rozmiar</th>
            <th scope="col">Сolor</th>
            <th scope="col">Ilość</th>
        </tr>
        <tr scope="col" th:each ="clothesOrder : ${clothesOrder}">
            <td th:utext="${clothesOrder.clothesOrderName}">...</td>
            <td th:utext="${clothesOrder.clothesOrderBrand}">...</td>
            <td th:utext="${clothesOrder.clothesOrderSize}">...</td>
            <td th:utext="${clothesOrder.clothesOrderColor}">...</td>
            <td th:utext="${clothesOrder.clothesOrderQuantity}">...</td>
        </tr>
    </table>
    <button type="button" id="buttonAdd" class="btn btn-secondary rock rowDiv" data-toggle="modal" data-target="#addOrderModal" data-whatever="@mdo"></button>
    <button type="button" id="buttonDelete" class="btn btn-secondary rock rowDiv" data-toggle="modal" data-target="#deleteOrderModal"></button>
    <button type="button" id="buttonInfo" class="btn btn-secondary rock rowDiv" onclick="location.href='/orders/details';return false;"></button>

    <div th:if="${isChange == false}" class="alert alert-danger" role="alert">
        Brak towarów o takiej ilości
    </div>

</div>


<!--model addClothes-->
<!--***************************************************-->
<div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrderModalLabel">Dodaj produkt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/orders/saveClothesOrder/{orderID}(orderID=${order.orderID})}" method="post">
                    <div class="my-2"><input required  type="text" name="clothesOrderName" class="form-control" placeholder="Typ" aria-describedby="button-addon2"/></div>
                    <div class="my-2"><input required type="text" name="clothesOrderBrand" class="form-control" placeholder="Marka" aria-describedby="button-addon2"></div>
                    <select name="clothesOrderSize" class="custom-select my-1" required>
                        <option selected>Wybierz rozmiar</option>
                        <option th:each="size : ${size}"
                                th:value="${size}"
                                th:utext="${size}">
                        </option>
                    </select>
                    <select name="clothesOrderColor" class="custom-select my-1" required>
                        <option selected>Wybierz color</option>
                        <option th:each="color : ${color}"
                                th:value="${color}"
                                th:utext="${color}">
                        </option>
                    </select>
                    <!--<div class="my-2"><input required type="text" name="clothesOrderColor" class="form-control" placeholder="Color" aria-describedby="button-addon2"></div>-->
                    <div class="my-2"><input required type="text" name="clothesOrderQuantity" class="form-control" placeholder="Ilość" aria-describedby="button-addon2"></div>
                    <button  class="btn btn-primary" type="submit">Ok</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--***************************************************-->

<!--model deleteOrder-->
<!--***************************************************-->

<div class="modal fade" id="deleteOrderModal" tabindex="-1" role="dialog" aria-labelledby="deleteOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{'/img/alert.png'}" width="50" height="50" alt="">
                <h5 class="mx-2 my-2 float-right">Usunąć zamówienie?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                <form th:action="@{/orders/deleteClothesOrder/{orderID}(orderID=${order.orderID})}" method="post">
                    <button type="submit" class="btn btn-light">Tak</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--***************************************************-->


</body>
</html>